body {
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  background: rgb(73, 73, 73);
}

.keys {
  display: flex;
}

.key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 10px;
  border: 2px dashed #d6f8b8;
  transition: all .10s ease;
  text-shadow: 0 0 .1rem #000;
}

.playing {
  transform: scale(1.2);
  border-color: #000;
  border: 5px dotted;
  border-radius: 20px;
  box-shadow: 0 0 10px #000;
  background-color: rgba(0, 0, 0, .1);
}

kbd {

  width: 50px;
  height: 50px;
}

span {
  margin-top: 20px;
  text-align: center;
  color: #d6f8b8;
}

@media screen and (max-width:900px) {
  .keys {
    display: block;
  }

}