:root {
  --base: rgb(45, 96, 207);
  --spacing: 10px;
  --blur: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin: 50px;
  background-color: rgb(184, 184, 184);
}

h1 {
  font-size: 50px;
  text-shadow: 3px 3px rgb(149, 131, 185);
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

label,
input {
  margin: 4px;
  text-shadow: 2px 2px rgb(149, 131, 185);

}

label {
  font-size: 30px;
  padding: 12px;
}

img {
  width: 75%;
  margin: 50px auto 20px auto;
  border-radius: 5px;

  /* define default variables */
  padding: var(--spacing);
  background: var(--base);
  filter: blur(var(--blur));
}

.js {
  color: var(--base);
}